.gravatar-demo {
  .email {
    color: #808080;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    border-bottom: dashed 1px #fff;
    width: 172px;
  }
}
